html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Days One", sans-serif;
  grid-column: 1 / span 6;
  height: 1.2em;
  line-height: 1.2em;
  overflow: visible;
}

body.disconnected h1:after {
  content: "(Disconnected)";
  display: block;
  color: #c08040;
}

#lights {
  display: flex;
  background-color: inherit;
  padding: 20px;
  transition: ease-in-out 200ms filter;
}

#lights.glowing {
  filter: blur(10px);
}

#lights span {
  flex: 1;
  height: 30px;
  border-radius: 5px;
  margin-right: 1px;
}

#controls {
  display: flex;
}

input {
  position: absolute;
  height: 0;
}

label {
  font-family: "Material Icons Outlined";
  font-size: 24px;
  background-color: #252526;
  color: #cccccc;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  border-right: 1px solid #252526;
  z-index: 1;
  flex: 1 1 100%;
}

label:first-of-type,
label:last-of-type {
  flex-basis: auto;
}

label:first-of-type {
  background-color: #884422;
  color: white;
}

input[type="checkbox"]:focus + label {
  text-decoration: underline;
  color: white;
}

input[type="checkbox"]:checked + label {
  background-color: #2e7d32;
  color: white;
}

input[type="checkbox"]:disabled + label {
  background-image: linear-gradient(-45deg, #00000080 25%, #29292980 25%, #29292980 50%, #00000080 50%, #00000080 75%, #29292980 75%, #29292980 100%);
  background-size: 14.14px 14.14px;
  background-attachment: fixed;
  color: #666;
  cursor: default;
}

#controls.loading {
  visibility: hidden;
}

#controls[data-support-mocked-clients="false"] input[data-mocked-client] + label {
  display: none;
}
